@import "../../../assets/pdlg/scss/_pdlg-variables-override.scss";

li {
    line-height: 34px;
    height: 40px;

    > a {
        line-height: 34px;
        height: 40px;

        &:hover {
            text-decoration: none;
            line-height: 34px;
        }

        > span {
            min-width: 100%;
            max-width: 250px;
            float: left;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        > i {
            float: right;
            top: 10px;
            margin-right: -15px;
        }
    }


    &.active:not(.hasChild) {

        > a {
            background: $blue; // initially was #003884;
            color: $white;
        }

        &:not(.active):hover {
            > a {
                background: $gray-lightest;
            }
        }
    }

    &.hasChild {
        &.active {
            background: $gray-lightest;

            > a {
                background: $gray-lightest;
            }
        }
    }

    .dropdown-menu {
        top: inherit;
        margin-top: -46px;
        *margin-left: -5px;

        &:empty{
            display: none;
            visibility: hidden;
        }
    }
}
