.sliding-panel-container {
    display: block;
    background-color: white;
    position: absolute;
    min-height: 100px;
    max-height: 75%;
    min-width: 30%;
    max-width: 100%;
    right: 0;
    top: 59px;
    box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.349019607843137);
    margin-right: 3px;
    z-index: 3;
    overflow: auto;
}

.sliding-panel-overlay {
    position: absolute;
    display: none;
    width: 100%;
    top: 59px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;
    cursor: not-allowed;
}
