<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <!--<extensions>
      <behaviorExtensions>
        <add name="ServiceErrorLogging" type="CareFusion.Infusion.Viewer.ServiceUtilities.ServiceErrorHandlerBehavior, CareFusion.Infusion.Viewer.ServiceUtilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->
    <bindings>
      <netNamedPipeBinding>
        <binding name="ServerNamedPipeBinding" transactionFlow="false" maxConnections="100000" maxReceivedMessageSize="1024000">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <services>
      <service name="CareFusion.Infusion.Viewer.InfusionSink.InfusionBusinessService">
        <endpoint address="configuration" binding="netNamedPipeBinding" bindingConfiguration="ServerNamedPipeBinding" contract="CareFusion.Infusion.Viewer.Contract.IConfigurationUpdate" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/infusionviewer/infusionSink/" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="CareFusion.Infusion.Viewer.InfusionSink.InfusionBusinessServiceAlternate">
        <endpoint address="configuration" binding="netNamedPipeBinding" bindingConfiguration="ServerNamedPipeBinding" contract="CareFusion.Infusion.Viewer.Contract.IConfigurationUpdate" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/infusionviewer/infusionSink/" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
  </system.serviceModel>  
</configuration>