<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="idmadmin" stopProcessing="true">
          <match url="^idmadmin($|/.*)"/>
          <action type="Rewrite" url="http://idmadmin:80{R:1}"/>
        </rule>
        <rule name="idmapi" stopProcessing="true">
          <match url="^idmapi($|/.*)"/>
          <action type="Rewrite" url="http://idmapi:80{R:1}"/>
        </rule>
        <rule name="idmconfigapi" stopProcessing="true">
          <match url="^idmconfigapi($|/.*)"/>
          <action type="Rewrite" url="http://idmconfigapi:80{R:1}"/>
        </rule>
        <rule name="idmsts" stopProcessing="true">
          <match url="^idmsts($|/.*)"/>
          <action type="Rewrite" url="http://idmsts:80{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
