<ul class='listPriorities' *ngIf="listData">
    <li *ngFor='let item of listData.data' (click)="elementClick($event, item)" [class.blinkingRow]="listData.options.showAnimations && item.blinkingRow" [class.selected]="getSelectedClass(item)">
        <div [class]="borderStyleClass ? borderStyleClass(item) : ''">&nbsp;</div>
        <div class="rowContainer">
            <div class="iconPlaceHolder">
                <span class='icon'><i [class]="iconStyleClass ? iconStyleClass(item) : ''"></i></span>
            </div>
            <div class="counter" [class.blinkingText]="listData.options.showAnimations && item.blinkingRow">
                {{item.counter}}
            </div>
            <div class="resumeContainer" [class.blinkingText]="listData.options.showAnimations && item.blinkingRow">
                <div class="title">
                    {{item.title}}
                </div>
                <div class="resume">
                    <span>{{item.label}}: </span>{{item.value}}
                </div>
            </div>
        </div>
    </li>
</ul>