.sort-item-container {
    display: inline-block;
    margin-left: 10px;
}

.sort-item-label {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #004593;
}

.sort-item-icon {
    color: #808080;
}
