.time-until-empty-status-warning {
    color: orange;
    margin-left: 6px;
}

.time-until-empty-status-critical {
    color: red;
    margin-left: 6px;
}

.time-until-empty-status-normal {
    color: white;
    margin-left: 6px;
}
