$uss--icon-font-family: "BD" !default;
$uss--icon-font-path: "fonts" !default;

$uss--icon-notdef: "\e900";
$uss--icon-alarm-bold: "\e001";
$uss--icon-bullet-list-bold: "\e002";
$uss--icon-check-bold: "\e003";
$uss--icon-checklist-bold: "\e004";
$uss--icon-clock-bold: "\e005";
$uss--icon-close-bold: "\e006";
$uss--icon-complete-bold: "\e007";
$uss--icon-confirm-bold: "\e008";
$uss--icon-create-new-bold: "\e009";
$uss--icon-dashboard-bold: "\e00a";
$uss--icon-delete-bold: "\e00b";
$uss--icon-download-bold: "\e00c";
$uss--icon-edit-bold: "\e00d";
$uss--icon-export-bold: "\e00e";
$uss--icon-favorite-bold: "\e00f";
$uss--icon-filter-bold: "\e010";
$uss--icon-flag-bold: "\e011";
$uss--icon-hand-approve-bold: "\e012";
$uss--icon-hand-bold: "\e013";
$uss--icon-hand-deny-bold: "\e014";
$uss--icon-hand-grab-bold: "\e015";
$uss--icon-hand-pointer-bold: "\e016";
$uss--icon-hide-bold: "\e017";
$uss--icon-lock-bold: "\e018";
$uss--icon-logout-bold: "\e019";
$uss--icon-minus-bold: "\e01a";
$uss--icon-numbered-list-bold: "\e01b";
$uss--icon-password-bold: "\e01c";
$uss--icon-password-management-bold: "\e01d";
$uss--icon-plus-bold: "\e01e";
$uss--icon-preferences-bold: "\e01f";
$uss--icon-repair-bold: "\e020";
$uss--icon-search-bold: "\e021";
$uss--icon-settings-bold: "\e022";
$uss--icon-sort-bold: "\e023";
$uss--icon-tag-bold: "\e024";
$uss--icon-timer-bold: "\e025";
$uss--icon-tools-bold: "\e026";
$uss--icon-upload-bold: "\e027";
$uss--icon-user-group-bold: "\e028";
$uss--icon-user-people-bold: "\e029";
$uss--icon-user-profile-bold: "\e02a";
$uss--icon-view-bold: "\e02b";
$uss--icon-zoom-bold: "\e02c";
$uss--icon-zoom-out-bold: "\e02d";
$uss--icon-alert-bold: "\e02e";
$uss--icon-error-bold: "\e02f";
$uss--icon-help-bold: "\e030";
$uss--icon-info-bold: "\e031";
$uss--icon-notifications-bold: "\e032";
$uss--icon-security-alert-bold: "\e033";
$uss--icon-security-bold: "\e034";
$uss--icon-warning-bold: "\e035";
$uss--icon-archive-bold: "\e036";
$uss--icon-attachment-bold: "\e037";
$uss--icon-calendar-bold: "\e038";
$uss--icon-calendar-month-bold: "\e039";
$uss--icon-chart-analytics-bold: "\e03a";
$uss--icon-chart-bar-bold: "\e03b";
$uss--icon-chart-bar-horizontal-bold: "\e03c";
$uss--icon-chart-line-graph-bold: "\e03d";
$uss--icon-chart-pie-bold: "\e03e";
$uss--icon-chart-trend-bold: "\e03f";
$uss--icon-chart-trend-down-bold: "\e040";
$uss--icon-chart-trend-up-bold: "\e041";
$uss--icon-clipboard-bold: "\e042";
$uss--icon-comment-alert-bold: "\e043";
$uss--icon-comment-bold: "\e044";
$uss--icon-comments-bold: "\e045";
$uss--icon-eraser-bold: "\e046";
$uss--icon-file-bold: "\e047";
$uss--icon-file-document-bold: "\e048";
$uss--icon-file-image-bold: "\e049";
$uss--icon-file-report-bold: "\e04a";
$uss--icon-file-video-bold: "\e04b";
$uss--icon-find-location-bold: "\e04c";
$uss--icon-folder-bold: "\e04d";
$uss--icon-globe-2-bold: "\e04e";
$uss--icon-layout-columns-bold: "\e04f";
$uss--icon-layout-gallery-2-bold: "\e050";
$uss--icon-layout-gallery-bold: "\e051";
$uss--icon-layout-rows-bold: "\e052";
$uss--icon-link-bold: "\e053";
$uss--icon-location-bold: "\e054";
$uss--icon-location-pin-bold: "\e055";
$uss--icon-map-bold: "\e056";
$uss--icon-print-bold: "\e057";
$uss--icon-re-do-bold: "\e058";
$uss--icon-script-bold: "\e059";
$uss--icon-subscript-bold: "\e05a";
$uss--icon-superscript-bold: "\e05b";
$uss--icon-task-list-bold: "\e05c";
$uss--icon-tasks-bold: "\e05d";
$uss--icon-text-align-center-bold: "\e05e";
$uss--icon-text-align-left-bold: "\e05f";
$uss--icon-text-align-right-bold: "\e060";
$uss--icon-text-bold-bold: "\e061";
$uss--icon-text-bold: "\e062";
$uss--icon-text-italic-bold: "\e063";
$uss--icon-text-justify-bold: "\e064";
$uss--icon-text-line-height-bold: "\e065";
$uss--icon-text-margin-left-bold: "\e066";
$uss--icon-text-margin-right-bold: "\e067";
$uss--icon-text-strikethrough-bold: "\e068";
$uss--icon-text-tab-indent-bold: "\e069";
$uss--icon-text-tab-outdent-bold: "\e06a";
$uss--icon-text-underline-bold: "\e06b";
$uss--icon-un-do-bold: "\e06c";
$uss--icon-battery-100-bold: "\e06d";
$uss--icon-battery-25-bold: "\e06e";
$uss--icon-battery-50-bold: "\e06f";
$uss--icon-battery-75-bold: "\e070";
$uss--icon-battery-bold: "\e071";
$uss--icon-battery-charging-bold: "\e072";
$uss--icon-battery-error-bold: "\e073";
$uss--icon-cloud-bold: "\e074";
$uss--icon-cloud-download-bold: "\e075";
$uss--icon-cloud-sync-bold: "\e076";
$uss--icon-cloud-upload-bold: "\e077";
$uss--icon-code-bar-bold: "\e078";
$uss--icon-code-qr-bold: "\e079";
$uss--icon-code-scan-bold: "\e07a";
$uss--icon-connected-bold: "\e07b";
$uss--icon-connection-bold: "\e07c";
$uss--icon-connection-error-bold: "\e07d";
$uss--icon-database-bold: "\e07e";
$uss--icon-database-connected-bold: "\e07f";
$uss--icon-desktop-bold: "\e080";
$uss--icon-disconnected-bold: "\e081";
$uss--icon-display-monitor-bold: "\e082";
$uss--icon-ethernet-bold: "\e083";
$uss--icon-hard-drive-bold: "\e084";
$uss--icon-headset-bold: "\e085";
$uss--icon-keyboard-bold: "\e086";
$uss--icon-laptop-bold: "\e087";
$uss--icon-mobile-phone-bold: "\e088";
$uss--icon-modem-bold: "\e089";
$uss--icon-mouse-bold: "\e08a";
$uss--icon-network-3-bold: "\e08b";
$uss--icon-network-bold: "\e08c";
$uss--icon-phone-bold: "\e08d";
$uss--icon-plug-1-bold: "\e08e";
$uss--icon-plug-2-bold: "\e08f";
$uss--icon-power-bold: "\e090";
$uss--icon-power-bolt-bold: "\e091";
$uss--icon-power-none-bold: "\e092";
$uss--icon-power-off-bold: "\e093";
$uss--icon-power-on-bold: "\e094";
$uss--icon-refresh-bold: "\e095";
$uss--icon-reload-bold: "\e096";
$uss--icon-router-bold: "\e097";
$uss--icon-rss-bold: "\e098";
$uss--icon-sd-card-bold: "\e099";
$uss--icon-server-bold: "\e09a";
$uss--icon-symbol-bluetooth-bold: "\e09b";
$uss--icon-symbol-code-bold: "\e09c";
$uss--icon-symbol-usb-bold: "\e09d";
$uss--icon-tablet-bold: "\e09e";
$uss--icon-thumb-drive-bold: "\e09f";
$uss--icon-wifi-bold: "\e0a0";
$uss--icon-wifi-error-bold: "\e0a1";
$uss--icon-wifi-off-bold: "\e0a2";
$uss--icon-wireless-bold: "\e0a3";
$uss--icon-analysis-bold: "\e0a4";
$uss--icon-blood-bold: "\e0a5";
$uss--icon-blood-glucose-monitor-bold: "\e0a6";
$uss--icon-brain-bold: "\e0a7";
$uss--icon-compounding-bold: "\e0a8";
$uss--icon-hazard-bold: "\e0a9";
$uss--icon-healthcare-bold: "\e0aa";
$uss--icon-heart-bold: "\e0ab";
$uss--icon-heartbeat-bold: "\e0ac";
$uss--icon-hospital-building-2-bold: "\e0ad";
$uss--icon-idn-bold: "\e0ae";
$uss--icon-iv-full-bold: "\e0af";
$uss--icon-lungs-bold: "\e0b0";
$uss--icon-microscope-bold: "\e0b1";
$uss--icon-organism-bold: "\e0b2";
$uss--icon-orthopedics-bold: "\e0b3";
$uss--icon-patient-wristband-bold: "\e0b4";
$uss--icon-pelvis-bold: "\e0b5";
$uss--icon-petri-dish-bold: "\e0b6";
$uss--icon-pharmacy-bold: "\e0b7";
$uss--icon-pill-bold: "\e0b8";
$uss--icon-pulse-bold: "\e0b9";
$uss--icon-scalpel-bold: "\e0ba";
$uss--icon-square-hospital-symbol-bold: "\e0bb";
$uss--icon-square-medical-services-bold: "\e0bc";
$uss--icon-syringe-full-bold: "\e0bd";
$uss--icon-thermometer-bold: "\e0be";
$uss--icon-brightness-bold: "\e0bf";
$uss--icon-brightness-low-bold: "\e0c0";
$uss--icon-camera-bold: "\e0c1";
$uss--icon-eject-bold: "\e0c2";
$uss--icon-fast-forward-bold: "\e0c3";
$uss--icon-image-bold: "\e0c4";
$uss--icon-pause-bold: "\e0c5";
$uss--icon-play-bold: "\e0c6";
$uss--icon-record-bold: "\e0c7";
$uss--icon-repeat-bold: "\e0c8";
$uss--icon-rewind-bold: "\e0c9";
$uss--icon-shuffle-bold: "\e0ca";
$uss--icon-skip-back-bold: "\e0cb";
$uss--icon-skip-forward-bold: "\e0cc";
$uss--icon-stop-bold: "\e0cd";
$uss--icon-volume-low-bold: "\e0ce";
$uss--icon-volume-max-bold: "\e0cf";
$uss--icon-volume-medium-bold: "\e0d0";
$uss--icon-volume-off-bold: "\e0d1";
$uss--icon-volumn-down-bold: "\e0d2";
$uss--icon-volumn-up-bold: "\e0d3";
$uss--icon-volumne-mute-bold: "\e0d4";
$uss--icon-arrow-down-bold: "\e0d5";
$uss--icon-arrow-left-bold: "\e0d6";
$uss--icon-arrow-right-bold: "\e0d7";
$uss--icon-arrow-up-bold: "\e0d8";
$uss--icon-chevron-down-bold: "\e0d9";
$uss--icon-chevron-left-bold: "\e0da";
$uss--icon-chevron-right-bold: "\e0db";
$uss--icon-chevron-up-bold: "\e0dc";
$uss--icon-fullscreen-bold: "\e0dd";
$uss--icon-fullscreen-exit-bold: "\e0de";
$uss--icon-home-bold: "\e0df";
$uss--icon-menu-bold: "\e0e0";
$uss--icon-more-bold: "\e0e1";
$uss--icon-new-tab-bold: "\e0e2";
$uss--icon-triangle-down-bold: "\e0e3";
$uss--icon-triangle-left-bold: "\e0e4";
$uss--icon-triangle-right-bold: "\e0e5";
$uss--icon-triangle-up-bold: "\e0e6";
$uss--icon-basecamp: "\ea63";
$uss--icon-bd-logo: "\ea61";
$uss--icon-bmk: "\ea64";
$uss--icon-home: "\ea62";
$uss--icon-ioa: "\ea65";
$uss--icon-mkp: "\ea66";
$uss--icon-more-vertical: "\ea67";
