<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="ServerNamedPipeBinding" transactionFlow="false" maxConnections="100000" maxReceivedMessageSize="1024000">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="InfusionProcessorConfigNotification"
                address="net.pipe://localhost/infusionviewer/infusionSink/configuration"
                binding="netNamedPipeBinding"
                bindingConfiguration="ServerNamedPipeBinding"
                contract="WebApplication1.IConfigurationUpdate">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
