<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=localhost;initial catalog=InfusionOLTP_MB;integrated security=True;MultipleActiveResultSets=True;App=Solution50.ConsoleApp1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="queries.lenght" value="1"/>
    <add key="queries[0].startDateTime" value="1/1/2020"/>
    <add key="queries[0].stopDateTime" value="12/31/2020"/>
    <add key="queries[0].dataRetentionHours" value="72"/>
    <add key="threads.lenght" value="1"/>
    <add key="threads[0].runs.length" value="1"/>
    <add key="threads[0].run[0].query" value="0"/>
    <add key="threads[0].run[0].delay" value="1000"/>
    <add key="threads[0].run[0].allocate" value="1000"/>
    <add key="threads[0].allocate" value="10000"/>
    <add key="threads[0].delay" value="10000"/>
  </appSettings>
</configuration>
