.delivery-tracking-item-multi {
    color: #6aa1ea;
}

.delivery-tracking-item-priority {
    color: #f73757;
}

.delivery-tracking-order-description {
    background-color: #FFFADB;
}

.search-box {
    width: 220px;
}

.search-button .glyphicon {
    color: white;
}

.iv-status input[type=text] {
    border: 1px solid #b3b3b3;
    width: 100%;
}

    .iv-status input[type=text]:hover {
        border: 1px solid #004593;
    }

    .iv-status input[type=text]:focus {
        border: 2px solid #004593;
    }

.iv-status .ui-button {
    background-color: #004593;
}

.iv-status input[type=radio] {
    border-width: 0px;
    position: absolute;
    left: -3px;
    top: -2px;
}

.iv-status .row {
    margin-left: 20px;
    margin-right: 20px;
}


.global-search-column {
    max-width: 350px;
    min-width: 350px;
    padding-left: 10px;
    display: flex;
    margin-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 300px;
}


.filtercomponents-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-right: 20px;
}

p {
    font-size: 1em;
    font-weight: 400;
    line-height: 15px;
}

.marginleft {
    margin-left: 10px
}

.active.btn-default,
.focus.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .btn-default.dropdown-toggle {
    background-color: #ffffff;
}

.btn-default:hover {
    color: #333 !important;
    background-color: #d4d4d4 !important;
    border-color: #8c8c8c !important;
}

.pressed-state {
    color: #333 !important;
    background-color: #d4d4d4 !important;
    border-color: #8c8c8c !important;
}
.component-margin {
    margin-bottom: 0px !important;
}



.medMinedAlerts {
    width: 30px !important;
    max-width: 30px !important;
    padding: 0px !important;
}


th {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 0px !important;
    border-bottom: 1px !important;
    color: #808080 !important;
    padding: 16px !important;
    width: auto;
    white-space: nowrap;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #dddddd !important;
    background-color: white;
    position: sticky;
    top: -2px;
    z-index: 1;
}

.dtTable {
    table-layout: auto;
}


:host ::ng-deep .delivery-tracking-table .ui-table th.tableColumn {
    cursor: default;
}

:host ::ng-deep .delivery-tracking-table .ui-table th.tableColumn.ui-sortable-column {
    cursor: pointer;
}

:host ::ng-deep .delivery-tracking-table .ui-table th.tableColumn.reorderable-column {
    cursor: -webkit-grab;
    cursor: move;
    cursor: grab;
}

:host ::ng-deep .delivery-tracking-table .ui-table th.tableColumn.reorderable-column.ui-sortable-column {
    cursor: -webkit-grab;
    cursor: move;
    cursor: grab;
}

:host ::ng-deep .delivery-tracking-table .ui-table th.tableColumn.reorderable-column.ui-sortable-column .ui-table-sort-icon {
    cursor: -webkit-grab;
    cursor: move;
    cursor: grab;
}

.icon {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
.icon_alert_system {
    background: url('../../../../assets/images/system_alert_red.png') no-repeat center;
    width: 23px;
    height: 24px;
    min-width: 23px;
    max-width: 23px;
}

.medmined-alert-column {
    padding-left: 30px;
}

.medmined-default-icon {
    min-width: 35px;
}

.expanded-row {
    margin-bottom: 5px;
}

.expanded-row-label {
    color: #808080 ;
    width: 80px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expanded-row-data {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.global-search-column.delivery-tracking-searchbox{
    padding-top: 0px;
    padding-left: 0px;
}
