<div class="buttonGroupContainer">
    <div class="buttonContainer">
        <button (click)="onSelectionToRight()">></button>
    </div>
    <div class="buttonContainer">
        <button (click)="onAllToRight()">>></button>
    </div>
    <div class="buttonContainer">
        &nbsp;
    </div>
    <div class="buttonContainer">
        <button (click)="onSelectionToLeft()"><</button>
    </div>
    <div class="buttonContainer">
        <button (click)="onAllToLeft()"><<</button>
    </div>
</div>
