<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppplicatonPool.Name" value="BD.Fhir.AppPool"/>
    <add key="Master.Path" value="C:\Program Files (x86)\BD\BD.Fhir.1.4.0.11"/>
    <add key="Slave.Path" value="C:\Program Files (x86)\BD\BD.Fhir.1.4.0.11.Cloud"/>
    <add key="Timer.Interval" value="5000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
